<!DOCTYPE html>
<html>
    <head>
        <title>Trendlog maintenance</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<base href="trendlog.webnation.dk">-->

        <!--== CSS ==-->

        <!-- custom css -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>

        <!--== JS ==-->

        <!-- jQuery -->
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- jQuery UI -->
        <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
            integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous"></script>

        <!-- Moment.js -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>

        <!-- Angularjs -->
        <script src="assets/js/angular.js"></script>

        <!-- Angularjs route -->
        <script src="assets/js/route.js"></script>

        <!-- Angular UI sortable -->
        <script src="assets/js/angular-sortable.js" type="text/javascript"></script>

        <!-- Angularjs Pagination -->
        <script src="assets/js/dirPagination.js" type="text/javascript"></script>

        <!-- app -->
        <script src="assets/js/app.js"></script>

        <!-- controller -->
        <script src="assets/js/controller.js"></script>

        <!-- custom script -->
        <script src="assets/js/script.js" defer></script>
    </head>
    <body ng-app="trendlog_app">
        <!-- header -->
        <header>
            <!-- Desktop nav -->
            <nav id="desktop-nav">
                <div class="flex">
                    <a href="index.html" class="nav-logo">
                        <img src="assets/images/trendlog-logo.png" alt="Trendlog.io logo" class="header-logo"/>
                    </a>

                    <ul class="navlinks">
                        <!-- house icon -->
                        <li><a ng-href="/#home" class="doNothing"><svg style="width:20px;height:20px" viewBox="0 0 24 24"><path fill="currentColor" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg></a></li>
                        <li><a ng-href="#" class="doNothing">Trendboards</a></li>
                        <li><a ng-href="#" class="doNothing">Reports</a></li>
                        <li><a ng-href="#" class="doNothing">Views</a></li>
                        <li><a ng-href="#" class="doNothing">Feeds</a></li>
                        <li><a ng-href="#" class="doNothing">Settings</a></li>
                        <li><a ng-href="#" class="doNothing">Shares</a></li>
                    </ul>
                </div>

                <div class="flex">
                    <ul class="navlinks">
                        <!-- wrench icon -->
                        <li><a href="#" class="doNothing"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="white" d="M.39,19.3l2.3,2.3a1,1,0,0,0,1.4,0l9.1-9.1a6.42,6.42,0,0,0,6.9-1.5,6.44,6.44,0,0,0,1.3-7.4L17,7.9l-3-3L18.29.6a6.61,6.61,0,0,0-7.4,1.3,6.42,6.42,0,0,0-1.5,6.9L.29,17.9A.9.9,0,0,0,.39,19.3Z"/></svg></a></li>
                        <!-- stop follow icon -->
                        <li><a href="#" class="doNothing"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="currentColor" d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" /></svg></a></li>
                        <!-- bell icon -->
                        <li><a href="#" class="doNothing"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="currentColor" d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" /></svg></a></li>
                        <li><span>Channels</span></li>
                        <li>
                            <select>
                                <option>20 Plug&Log Production Unit</option>
                            </select>
                        </li>

                        <li class="dropdown p-rel">
                            <a class="profile-dropdown" id="profile-dropdown-btn">
                                <span>Example user</span>
                                <!-- user icon -->
                                <span><svg style="width:21px;height:21px" viewBox="0 0 21 21"><path fill="#00ff00" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg></span>
                            </a>

                            <div id="nav-profile-dropdown">
                                <ul id="nav-profile-list">
                                    <li><a href="#" class="doNothing">My profile</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a href="#" class="doNothing">Sign out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Mobile nav -->
            <div class="mobile-nav-container">
                <a href="index.html" class="nav-logo">
                    <img src="assets/images/trendlog-logo.png" alt="Trendlog.io logo" class="header-logo"/>
                </a>
                <nav class="mobile-nav">
                    <div class="burger-menu">
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </div>

                    <ul class="nav-list">
                        <!-- house icon -->
                        <li class="mobile-nav-item"><a class="doNothing mobile-navlink" ng-href="/#home"><svg style="width:20px;height:20px" viewBox="0 0 24 24"><path fill="currentColor" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg></a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Trendboards</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Reports</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Views</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Feeds</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Settings</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Shares</a></li>

                        <!-- wrench icon -->
                        <li class="mobile-nav-item"><a href="#" class="doNothing mobile-navlink"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="white" d="M.39,19.3l2.3,2.3a1,1,0,0,0,1.4,0l9.1-9.1a6.42,6.42,0,0,0,6.9-1.5,6.44,6.44,0,0,0,1.3-7.4L17,7.9l-3-3L18.29.6a6.61,6.61,0,0,0-7.4,1.3,6.42,6.42,0,0,0-1.5,6.9L.29,17.9A.9.9,0,0,0,.39,19.3Z"/></svg></a></li>
                        <!-- stop follow icon -->
                        <li class="mobile-nav-item"><a href="#" class="doNothing mobile-navlink"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="currentColor" d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" /></svg></a></li>
                        <!-- bell icon -->
                        <li class="mobile-nav-item"><a href="#" class="doNothing mobile-navlink"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="currentColor" d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" /></svg></a></li>
                        <li class="mobile-nav-item"><span>Channels</span></li>
                        <li class="mobile-nav-item">
                            <select>
                                <option>20 Plug&Log Production Unit</option>
                            </select>
                        </li>

                        <li class="dropdown p-rel mobile-nav-item">
                            <a class="profile-dropdown" id="profile-dropdown-btn">
                                <span>Example user</span>
                                <!-- user icon -->
                                <span><svg style="width:21px;height:21px" viewBox="0 0 21 21"><path fill="#00ff00" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg></span>
                            </a>

                            <div id="nav-profile-dropdown">
                                <ul id="nav-profile-list">
                                    <li><a href="#" class="doNothing">My profile</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a href="#" class="doNothing">Sign out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main ng-controller="mainCtrl">
            <div class="global-wrapper">
                <!-- side bar -->
                <aside>
                    <ul>
                        <li>
                            <a href="#" class="doNothing"><svg style="width:14px;height:14px;margin-bottom:-2px;margin-right:3px;" viewBox="0 0 24 24"><path fill="white" d="M.39,19.3l2.3,2.3a1,1,0,0,0,1.4,0l9.1-9.1a6.42,6.42,0,0,0,6.9-1.5,6.44,6.44,0,0,0,1.3-7.4L17,7.9l-3-3L18.29.6a6.61,6.61,0,0,0-7.4,1.3,6.42,6.42,0,0,0-1.5,6.9L.29,17.9A.9.9,0,0,0,.39,19.3Z"/></svg> Maintenance</a>
                        </li>
                    </ul>
                </aside>

                <div class="module">
                    <div class="module-tabs" ng-init="tab = 1">
                        <a href ng-click="tab = 1" ng-class="{activeTab:tab === 1}">Resources</a>
                        <a href ng-show="tab > 1" ng-click="tab = 2" ng-class="{activeTab:tab === 2}">History</a>
                        <a href ng-show="tab > 1" ng-click="tab = 3" ng-class="{activeTab:tab === 3}">Settings</a>
                    </div>

                    <!-- Tab 1 (Resources) -->
                    <div class="tab-1" ng-show="tab === 1">

                        <!-- Resource top menu -->
                        <!-- Mobile top menu -->
                        <div class="mobile-resource-top-menu">
                            <div class="searchBar row">
                                <label for="search">Search</label>
                                <input type="text" ng-model="search" id="search"/>
                            </div>

                            <div class="row flex flex-b">
                                <div class="flex align" id="filter-menu-btn">
                                    <span>Filter</span>
                                    <div class="green-btn"><img src="assets/icons/filter-icon.svg" alt="Filter search"/></div>
                                </div>

                                <div class="flex align" id="add-new-menu-btn">
                                    <span>Add new</span>
                                    <div class="green-btn green-btn-hacks"><img src="assets/icons/addnew-icon.svg" alt="Add new resource"/></div>
                                </div>
                            </div>
                        </div>

                        <!-- Tablet top menu -->

                        <!-- Desktop top menu -->


                        <!-- Filter menu -->
                        <div id="filter-menu" class="filter-menu-overlay">
                            <div class="filter-menu" onclick="doNothing(event)">
                                <div class="filter-menu-header">
                                    <h2>Filter</h2>
                                    <div id="closeFilterMenu"><img src="assets/icons/close-icon.svg" alt="Close"></div>
                                </div>
                                <table id="filter-table">
                                    <tr>
                                        <td>
                                            <label for="selectEntries">Entries</label>
                                        </td>
                                        <td>
                                            <select id="selectEntries">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>

                                            <img ng-click="calendarView()" src="assets/icons/calender-icon.svg" alt="Calendar view"/>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="sortEntries">Sort by</label>
                                        </td>
                                        <td>
                                            <select id="sortEntries" ng-model="sortEntries" ng-options="e as e.name for e in resourceData track by e.id">
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="groupEntries">Group</label>
                                        </td>
                                        <td>
                                            <select id="groupEntries" ng-model="groupEntries" ng-options="g as g.name for g in resourceGroups track by g.id">
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="layoutEntries">Layout</label>
                                        </td>
                                        <td>
                                            <select id="layoutEntries" ng-model="layoutEntries" ng-options="o as o.name for o in serviceLayoutOptions track by o.id">
                                            </select>
                                        </td>
                                    </tr>

                                    <tr ng-model="entryDataRow" ng-show="layoutEntries.id > 1">
                                        <td>
                                            <label for="entryData">Data</label>
                                        </td>
                                        <td>
                                            <select id="entryData" ng-model="entryData">
                                                <option value="1">ID</option>
                                                <option value="2">Name</option>
                                                <option value="3">Type</option>
                                                <option value="4">Group</option>
                                                <option value="5">Enabled</option>
                                                <option value="6">Last service</option>
                                                <option value="7">Next service</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!-- Add new menu -->
                        <!-- details -->
                        <div class="add-new-menu-overlay" ng-init="step = 1">
                            <div onclick="doNothing(event)" class="wrapper">
                                <img class="add-new-close-btn" src="assets/icons/close-icon.svg" alt="Close">
                                <div ng-show="step === 1" id="step-1" class="add-new-menu">
                                    <div class="heading-container flex">
                                        <h2>New resource</h2>
                                    </div>
                                    <div class="add-new-main">
                                        <div class="flex-b">
                                            <h3>Details</h3>
                                            <p>Step 1 of 5</p>
                                        </div>
                                        <div class="add-new-content">
                                            <label for="step-1-name" class="add-new-text">Name:</label>
                                            <input id="step-1-name" placeholder="Text here..." type="text">
                                            <label for="step-1-group" class="add-new-text">Group:</label>
                                            <div class="flex flex-b select-w-btn">
                                                <select id="step-1-group">
                                                    <option>Machine</option>
                                                    <option>Cars</option>
                                                    <option>Washer</option>
                                                </select>
                                                <div class="green-btn">
                                                    <img src="" alt="">
                                                </div>
                                            </div>
                                            <label for="step-1-description" class="add-new-text">Description:</label>
                                            <textarea id="step-1-description" placeholder="Text here..."></textarea>

                                            <div class="add-new-buttons flex flex-b">
                                                <a href="#" class="add-new-button">Cancel</a>
                                                <a href="#" class="add-new-button">Back</a>
                                                <a href="#" class="add-new-button" ng-click="step = '2a'">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Service none selected -->
                                <div ng-show="step == '2a'" class="add-new-menu">
                                    <div class="heading-container flex">
                                        <h2>New resource</h2>
                                    </div>
                                    <div class="add-new-main">
                                        <div class="flex-b">
                                            <h3>Service</h3>
                                            <p>Step 2 of 5</p>
                                        </div>
                                        <div class="add-new-content">
                                            <p>Type:</p>
                                            <div class="add-new-service-select">
                                                <button ng-click="step = '2b'">Preventive</button>
                                                <button ng-click="step = '2c'">Predictive</button>
                                            </div>

                                            <div class="add-new-buttons flex flex-a">
                                                <a href="#" class="add-new-button">Cancel</a>
                                                <a href="#" class="add-new-button" ng-click="step = 1">Back</a>
                                                <a href="#" class="add-new-button" ng-click="step = 3">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Service preventive -->
                                <div ng-show="step === '2b'" class="add-new-menu">
                                    <div class="heading-container flex">
                                        <h2>New resource</h2>
                                    </div>
                                    <div class="add-new-main">
                                        <div class="flex-b">
                                            <h3>Service</h3>
                                            <p>Step 2 of 5</p>
                                        </div>
                                        <div class="add-new-content">
                                            <p>Type:</p>
                                            <div class="add-new-service-select">
                                                <button class="on" ng-click="step = '2b'">Preventive</button>
                                                <button ng-click="step = '2c'">Predictive</button>
                                            </div>
                                            <label for="step-2b-ls w50">Last service:</label>
                                            <input type="text" id="step-2b-ls" ng-model="addNew2bLastService" ng-change="addNewNextServiceCalc()">
                                            <div class="flex flex-b">
                                                <div class="add-new-lr">
                                                    <label for="step-2b-si">Service interval:</label>
                                                    <input type="number" id="step-2b-si" ng-change="addNewNextServiceCalc()" ng-model="addNewServiceInterval">
                                                </div>
                                                <div class="add-new-lr henning">
                                                    <label for="step-2b-iu">Unit:</label>
                                                    <select id="step-2b-iu" ng-change="addNewNextServiceCalc()" ng-model="addNewServiceUnit" ng-options="u as u.name for u in resourceServiceUnits track by u.id">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="add-new-content">
                                                <p>Type:</p>
                                                <div class="add-new-service-select">
                                                    <button class="on" ng-click="step = '2b'">Preventive</button>
                                                    <button ng-click="step = '2c'">Predictive</button>
                                                </div>
                                                <label for="step-2b-ls w50">Last service:</label>
                                                <input type="text" id="step-2b-ls" ng-model="addNew2bLastService" ng-change="addNewNextServiceCalc()">
                                                <div class="flex flex-b">
                                                    <div class="ole">
                                                        <label for="step-2b-si">Service interval:</label>
                                                        <input type="number" id="step-2b-si" ng-change="addNewNextServiceCalc()" ng-model="addNewServiceInterval">
                                                    </div>
                                                    <div class="henning">
                                                        <label for="step-2b-iu">Unit:</label>
                                                        <select id="step-2b-iu" ng-change="addNewNextServiceCalc()" ng-model="addNewServiceUnit" ng-options="u as u.name for u in resourceServiceUnits track by u.id">
                                                        </select>
                                                    </div>
                                                </div>
                                                <label for="step-2b-ns">Next service:</label>
                                                <input type="text" disabled id="step-2b-ns" value="{{addNewNextService | date:'MM/dd/yyyy'}}">
                                                <div class="add-new-buttons flex flex-a">
                                                    <a href="#" class="add-new-button">Cancel</a>
                                                    <a href="#" class="add-new-button" ng-click="step = 1">Back</a>
                                                    <a href="#" class="add-new-button" ng-click="step = 3">Next</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Service predictive -->
                                <div ng-show="step === '2c'" class="add-new-menu">
                                    <div class="heading-container flex">
                                        <h2>New resource</h2>
                                    </div>
                                    <div class="add-new-main">
                                        <div class="flex-b">
                                            <h3>Service</h3>
                                            <p>Step 2 of 5</p>
                                        </div>
                                        <div class="add-new-content">
                                            <p>Type:</p>
                                            <div class="add-new-service-select">
                                                <button ng-click="step = '2b'">Preventive</button>
                                                <button class="on" ng-click="step = '2c'">Predictive</button>
                                            </div>
                                            <label for="step-2c-src">Source:</label>
                                            <div class="flex flex-b">
                                                <input type="text" disabled id="step-2c-src">
                                                <div class="cog-box flex"><img src="assets/icons/cog-icon.svg" alt="Predictive source"/></div>
                                            </div>
                                            <div class="flex flex-b">
                                                <div class="add-new-lr">
                                                    <label for="step-2c-sv">Start value:</label>
                                                    <input type="text" disabled id="step-2c-sv">
                                                </div>
                                                <div class="add-new-lr">
                                                    <label for="step-2c-iv">Internal value:</label>
                                                    <input type="text" id="step-2c-iv">
                                                </div>
                                            </div>
                                            <div class="add-new-content">
                                                <p>Type:</p>
                                                <div class="add-new-service-select">
                                                    <button ng-click="step = '2b'">Preventive</button>
                                                    <button class="on" ng-click="step = '2c'">Predictive</button>
                                                </div>
                                                <label for="step-2c-src">Source</label>
                                                <div class="flex flex-b">
                                                    <input type="text" disabled id="step-2c-src">
                                                    <div class="source-icon"><img src="assets/icons/cog-icon.svg" alt="Predictive source"/></div>
                                                </div>

                                                <label for="step-2c-tr">Time range</label>
                                                <select id="step-2c-tr">
                                                    <option>1 Week</option>
                                                    <option>1 Month</option>
                                                    <option>1 Year</option>
                                                </select>

                                                <!--
                                                <div class="mobile-settings-row">
                                                    <label for="settings-resource-max-internal">Max internal days</label>
                                                    <input type="text" id="settings-resource-max-internal">
                                                </div>

                                                <div class="mobile-settings-row">
                                                    <label for="settings-resource-pred-ns">Next service calculated to be</label>
                                                    <input type="text" id="settings-resource-pred-ns" disabled>
                                                </div> -->

                                                <div class="add-new-buttons flex flex-a">
                                                    <a href="#" class="add-new-button">Cancel</a>
                                                    <a href="#" class="add-new-button" ng-click="step = 1">Back</a>
                                                    <a href="#" class="add-new-button" ng-click="step = 3">Next</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Checklist -->
                                <div ng-show="step === 3" class="add-new-menu">
                                    <div class="heading-container flex">
                                        <h2>New resource</h2>
                                    </div>
                                    <div class="add-new-main">
                                        <div class="flex-b">
                                            <h3>Checklist</h3>
                                            <p>Step 3 of 5</p>
                                        </div>
                                        <div class="add-new-content">

                                            <div class="add-new-buttons flex flex-a">
                                                <a href="#" class="add-new-button">Cancel</a>
                                                <a href="#" class="add-new-button" ng-click="step = '2a'">Back</a>
                                                <a href="#" class="add-new-button" ng-click="step = 4">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Attachments -->
                                <div ng-show="step === 4" class="add-new-menu">
                                    <div class="heading-container flex">
                                        <h2>New resource</h2>
                                    </div>
                                    <div class="add-new-main">
                                        <div class="flex-b">
                                            <h3>Attachments</h3>
                                            <p>Step 4 of 5</p>
                                        </div>
                                        <div class="add-new-content">

                                            <div class=" add-new-buttons flex flex-a">
                                                <a href="#" class="add-new-button">Cancel</a>
                                                <a href="#" class="add-new-button" ng-click="step = 3">Back</a>
                                                <a href="#" class="add-new-button" ng-click="step = 5">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Notify -->
                                <div ng-show="step === 5" class="add-new-menu">
                                    <div class="heading-container flex">
                                        <h2>New resource</h2>
                                    </div>
                                    <div class="add-new-main">
                                        <div class="flex-b">
                                            <h3>Notify me</h3>
                                            <p>Step 5 of 5</p>
                                        </div>
                                        <div class="add-new-content">

                                            <div class="add-new-buttons flex flex-a">
                                                <a href="#" class="add-new-button">Cancel</a>
                                                <a href="#" class="add-new-button" ng-click="step = 4">Back</a>
                                                <a href="#" class="add-new-button">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- == Resource lists == -->

                    <!-- Desktop resource list -->
                    <div id="desktop-resource-container">
                        <table class="desktopResources">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Group</th>
                                <th>Enabled</th>
                                <th>Last service</th>
                                <th>Next service</th>
                            </tr>
                        </table>
                    </div>

                    <!-- Tablet resource list -->

                    <!-- Mobile resource list -->
                    <div id="mobile-resource-container" ng-init="mobileView = 1">
                        <!-- == Mobile card view == -->
                        <div id="mobile-card-view" ng-show="mobileView === 1">
                            <div class="mobile-resource" ng-repeat="r in resources | filter: search" id="mobile-resource{{r.id}}">
                                <div ng-click="expandResourceDropDown(r.id)" class="mobile-resource-content mobile-resource-header">
                                    <span>ID: <span class="strong">{{r.id}}</span></span>
                                    <span class="strong">{{r.name}}</span>
                                    <span><div class="enabled"></div></span>
                                </div>

                                <div ng-click="expandResourceDropDown(r.id)" class="mobile-resource-content mobile-resource-body">
                                    <div class="mobile-next-service">
                                        <span>Next service:</span>
                                        <div class="loading">
                                            <div class="loading-text strong">{{r.nextService}}</div>
                                            <div class="loading-bar"></div>
                                        </div>
                                    </div>

                                    <div class="mobile-last-service">
                                        <p>Last service:</p>
                                        <p class="strong">{{r.lastService}}</p>
                                    </div>
                                </div>
                                <div ng-click="expandResourceDropDown(r.id)" class="mobile-resource-content mobile-resource-footer">
                                    <span>Group: <span class="strong">{{r.group}}</span></span>
                                    <span>Type: <span class="strong">{{r.type}}</span></span>
                                </div>
                                <!-- ======================================================= Drop Down ====================================================================================== -->
                                <div class="mobile-resource-dropdown" id="drop-down{{r.id}}">
                                    <div class="tab-links">
                                        <div class="tab-links-box">
                                            <div class="tab-link" ng-click="historyTab()"><a>History</a></div>
                                        </div>
                                        <div class="vertical-seperator"></div>
                                        <div class="tab-links-box">
                                            <div class="tab-link" ng-click="settingsTab()"><a>Settings</a></div>
                                        </div>
                                    </div>
                                    <div class="center-links">
                                        <div class="horizontal-seperator"></div>
                                        <div class="center-link"><a>Show service report</a></div>
                                        <div class="horizontal-seperator"></div>
                                        <div class="center-link"><a>Create repair log</a></div>
                                        <div class="horizontal-seperator"></div>
                                        <div class="center-link"><a>Show QR code</a></div>
                                        <div class="horizontal-seperator"></div>
                                    </div>
                                    <div class="bottom-links">
                                        <div class="logo-text-box" onclick="triggerDeleteModal()">
                                            <img src="assets/icons/delete-icon.svg" alt="Delete icon">
                                            <div class="bottom-link"><a>Delete</a></div>
                                        </div>
                                        <div class="vertical-seperator"></div>
                                        <div class="logo-text-box" onclick="triggerCopyModal()">
                                            <div class="bottom-link"><a>Copy</a></div>
                                            <img src="assets/icons/copy-icon.svg" alt="Copy icon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- == Mobile calendar view == -->
                        <div id="mobile-calendar-view" ng-cloak ng-show="mobileView === 2">
                            <div class="mobile-calendar-head">
                                <img src="assets/icons/altcalender-icon.svg" alt="Show alternative calendar">
                                <img ng-click="mobileView = 1" src="assets/icons/close-icon.svg" alt="Close calendar">
                            </div>

                            <div class="mobile-calendar-header">
                                <div class="prevMonth">❮</div>
                                <div>
                                    <h1>August</h1>
                                    <h2>2020</h2>
                                </div>
                                <div class="nextMonth">
                                    ❯
                                </div>
                            </div>

                            <table class="mobile-calendar-table">
                                <tr><th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th></tr>
                                <tr><td>1</td><td class="calendar-expired">2</td><td class="calendar-soon">3</td><td>4</td><td class="calendar-soon">5</td><td>6</td><td>7</td></tr>
                                <tr><td>8</td><td class="calendar-service">9</td><td>10</td><td class="calendar-service">11</td><td class="calendar-service">12</td><td>13</td><td>14</td></tr>
                                <tr><td>15</td><td>16</td><td class="calendar-service">17</td><td class="calendar-service">18</td><td>19</td><td>20</td><td>21</td></tr>
                                <tr><td>22</td><td>23</td><td>24</td><td>25</td><td class="calendar-service">26</td><td>27</td><td>28</td></tr>
                                <tr><td>29</td><td class="calendar-service">30</td><td class="calendar-service">31</td><td></td><td></td><td></td><td></td></tr>
                            </table>
                        </div>
                    </div>
                </div> <!-- tab 1 end -->

                <!-- Tab 2 (History) -->
                <div class="tab-2" ng-show="tab === 2">

                    <!-- Mobile -->
                    <div id="mobile-history-container">
                        <h1>Rødbederenser</h1>

                        <div class="mobile-resource-top-menu">
                            <div class="searchBar row">
                                <label for="historySearch">Search</label>
                                <input type="text" id="historySearch"/>
                            </div>

                            <div class="row flex flex-b">
                                <div class="flex align">
                                    <label for="historyEntries">Entries </label>
                                    <select id="historyEntries">
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </div>

                                <div class="flex align">
                                    <label for="historySort">Sort by </label>
                                    <select id="historySort">
                                        <option>ID</option>
                                        <option selected>Date</option>
                                        <option>Value</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mobile-history-table-container">
                            <table class="mobile-history-table">
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Value</th>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>06-09-2020</td>
                                    <td>Service</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>07-08-2020</td>
                                    <td>Service</td>
                                </tr>
                                <tr class="repair">
                                    <td>3</td>
                                    <td>12-07-2020</td>
                                    <td>Repair</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>14-06-2020</td>
                                    <td>Service</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>01-05-2020</td>
                                    <td>Service</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Tab 3 (Settings) -->
                <div class="tab-3" ng-show="tab === 3">

                    <!-- Mobile -->
                    <div id="mobile-settings-container">
                        <section>
                            <div class="mobile-settings-head-row">
                                <h3>Details</h3>
                                <span>Part 1 of 5</span>
                            </div>

                            <div class="mobile-settings-row">
                                <label for="settings-resource-name">Resource name</label>
                                <input type="text" placeholder="Resource name" value="Rødbederenser" id="settings-resource-name"/>
                            </div>

                            <div class="mobile-settings-row">
                                <label for="settings-resource-group">Group</label>
                                <div class="flex">
                                    <select id="settings-resource-group">
                                        <option>Machine</option>
                                        <option>Cars</option>
                                        <option>Washer</option>
                                    </select>
                                    <div class="green-btn green-btn-hacks"><span>+</span></div>
                                </div>
                            </div>

                            <div class="mobile-settings-row">
                                <label for="settings-resource-desc">Description</label>
                                <textarea id="settings-resource-desc" placeholder="Enter resource description"></textarea>
                            </div>
                        </section>

                        <section>
                            <div class="mobile-settings-head-row">
                                <h3>Service</h3>
                                <span>Part 2 of 5</span>
                            </div>

                            <div class="mobile-settings-row">
                                <p>Type</p>
                                <div class="mobile-settings-type-select" ng-init="type = 1">
                                    <button ng-click="type = 1" ng-class="{activeType:type === 1}">Preventive</button><button ng-click="type = 2" ng-class="{activeType:type === 2}">Predictive</button>
                                </div>
                            </div>

                            <!-- Preventive -->
                            <div ng-show="type === 1">
                                <div class="mobile-settings-row">
                                    <label for="settings-resource-ls">Last service</label>
                                    <input type="text" id="settings-resource-ls" ng-model="mobileServiceLastService" ng-change="nextServiceCalc()">
                                </div>

                                <div class="mobile-settings-row flex flex-b">
                                    <div>
                                        <label for="settings-resource-interval">Service interval</label>
                                        <input type="number" id="settings-resource-interval" ng-change="nextServiceCalc()" ng-model="mobileServiceInterval">
                                    </div>
                                    <div class="w50">
                                        <label for="settings-resource-interval-unit">Unit</label>
                                        <select id="settings-resource-interval-unit" ng-change="nextServiceCalc()" ng-model="mobileServiceUnit" ng-options="u as u.name for u in resourceServiceUnits track by u.id">
                                        </select>
                                    </div>
                                </div>

                                <div class="mobile-settings-row">
                                    <label for="settings-resource-ns">Next service</label>
                                    <input type="text" disabled id="settings-resource-ns" value="{{mobileNextService | date:'MM/dd/yyyy'}}">
                                </div>
                            </div>

                            <!-- Predictive -->
                            <div ng-show="type === 2">
                                <div class="mobile-settings-row">
                                    <label for="settings-resource-source">Source</label>
                                    <div class="settings-source-input"><input type="text" disabled id="settings-resource-source"><div class="source-icon"><img src="assets/icons/cog-icon.svg" alt="Predictive source"/></div></div>
                                </div>

                                <div class="mobile-settings-row flex flex-b">
                                    <div>
                                        <label for="settings-resource-start-value">Start value</label>
                                        <input type="text" disabled id="settings-resource-start-value">
                                    </div>

                                    <div>
                                        <label for="settings-resource-internal-value">Internal value</label>
                                        <input type="text" id="settings-resource-internal-value">
                                    </div>
                                </div>

                                <div class="mobile-settings-row">
                                    <label for="settings-resource-time-range">Time range</label>
                                    <select id="settings-resource-time-range">
                                        <option>1 Week</option>
                                        <option>1 Month</option>
                                        <option>1 Year</option>
                                    </select>
                                </div>

                                <div class="mobile-settings-row">
                                    <label for="settings-resource-max-internal">Max internal days</label>
                                    <input type="text" id="settings-resource-max-internal">
                                </div>

                                <div class="mobile-settings-row">
                                    <label for="settings-resource-pred-ns">Next service calculated to be</label>
                                    <input type="text" id="settings-resource-pred-ns" disabled>
                                </div>

                                <div class="mobile-settings-row">
                                    <label for="settings-resource-valcalc">Value calculated to be</label>
                                    <input type="text" id="settings-resource-valcalc" disabled>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="mobile-settings-head-row">
                                <h3>Checklist</h3>
                                <span>Part 3 of 5</span>
                            </div>

                            <div class="mobile-settings-row">
                                <p>To do's</p>
                                <div class="mobile-settings-todolist" ui-sortable="sortableOptions" ng-model="todoList">
                                    <div class="todoItem" ng-repeat="x in todoList">{{x.todoText}}</div>
                                    <form ng-submit="todoAdd()" class="addTodo">
                                        <input type="text" ng-model="todoInput" id="todoInput" placeholder="Add New">
                                        <button type="submit" class="green-btn">Add</button>
                                    </form>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="mobile-settings-head-row">
                                <h3>Attachment</h3>
                                <span>Part 4 of 5</span>
                            </div>

                            <div class="mobile-settings-row">
                                <p>Items</p>
                                <div class="mobile-settings-todolist">
                                    <div id="uploaded-attachments"></div>
                                    <label class="file-upload-attach">
                                        <input type="file"><div class="add-attach"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="currentColor" d="M9,16V10H5L12,3L19,10H15V16H9M5,20V18H19V20H5Z" /></svg><span>Add</span></div>
                                    </label>

                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="mobile-settings-head-row">
                                <h3>Notify me</h3>
                                <span>Part 5 of 5</span>
                            </div>

                            <div class="mobile-settings-row">
                                <label for="settings-resource-notify">E-mail addresses (seprate e-mails by comma)</label>
                                <input type="text" id="settings-resource-notify" placeholder="Enter e-mail(s) to notify">
                            </div>

                            <div class="mobile-settings-row">
                                <label for="settings-resource-daysb4service">Days before service</label>
                                <input type="text" id="settings-resource-daysb4service" placeholder="Days before notification">
                            </div>

                            <button id="apply-settings">Apply changes</button>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <!-- footer -->
    <footer></footer>

    <!-- POPUP MODAL HEJSERI -->
    <!-- selve modal -->
    <div id="deleteModal" class="modal">

      <!-- Modal indhold -->
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="h2modal">Delete resource</h2>
        </div>
        <div class="modal-body">
          <p class="pmodal">Deleting this resource is irreversible.</p>
          <p class="pmodal">Are you sure?</p>
        </div>
        <div class="modal-footer">
          <span class="close" onclick="closeModals()">Cancel</span>
          <div id="streg"></div>
          <p id="redp">Delete</p>
        </div>
      </div>
    </div>

    <!-- selve modal -->
    <div id="copyModal" class="modal">

      <!-- Modal indhold -->
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="h2modal">Copy resource</h2>
        </div>
        <div class="modal-body">
          <p class="pmodal">New resource name</p>
          <p class="pmodal">input felt her</p>
        </div>
        <div class="modal-footer">
          <span class="close" onclick="closeModals()">Cancel</span>
          <div id="streg"></div>
          <p id="redp">Delete</p>
        </div>
      </div>
    </div>
</body>
</html>
