<!DOCTYPE html>
<html>
    <head>
        <title>Trendlog maintenance</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<base href="trendlog.webnation.dk">-->

        <!--== CSS ==-->

        <!-- custom css -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>

        <!--== JS ==-->
        <!-- jQuery -->
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Angularjs -->
        <script src="assets/js/angular.js"></script>

        <!-- Angularjs route -->
        <script src="assets/js/route.js"></script>

        <!-- Angularjs Pagination -->
        <script src="assets/js/dirPagination.js" type="text/javascript"></script>

        <!-- app -->
        <script src="assets/js/app.js"></script>

        <!-- controller -->
        <script src="assets/js/controller.js"></script>

        <!-- custom script -->
        <script src="assets/js/script.js" defer></script>
    </head>
    <body ng-app="trendlog_app">
        <!-- header -->
        <header>
            <!-- Desktop nav -->
            <nav id="desktop-nav">
                <div class="flex">
                    <a href="index.html" class="nav-logo">
                        <img src="assets/images/trendlog-logo.png" alt="Trendlog.io logo" class="header-logo"/>
                    </a>

                    <ul class="navlinks">
                        <!-- house icon -->
                        <li><a ng-href="/#home"><svg style="width:20px;height:20px" viewBox="0 0 24 24"><path fill="currentColor" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg></a></li>
                        <li><a ng-href="#" class="doNothing">Trendboards</a></li>
                        <li><a ng-href="#" class="doNothing">Reports</a></li>
                        <li><a ng-href="#" class="doNothing">Views</a></li>
                        <li><a ng-href="#" class="doNothing">Feeds</a></li>
                        <li><a ng-href="#" class="doNothing">Settings</a></li>
                        <li><a ng-href="#" class="doNothing">Shares</a></li>
                    </ul>
                </div>

                <div class="flex">
                    <ul class="navlinks">
                        <!-- wrench icon -->
                        <li><a href="#" class="doNothing"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="white" d="M.39,19.3l2.3,2.3a1,1,0,0,0,1.4,0l9.1-9.1a6.42,6.42,0,0,0,6.9-1.5,6.44,6.44,0,0,0,1.3-7.4L17,7.9l-3-3L18.29.6a6.61,6.61,0,0,0-7.4,1.3,6.42,6.42,0,0,0-1.5,6.9L.29,17.9A.9.9,0,0,0,.39,19.3Z"/></svg></a></li>
                        <!-- stop follow icon -->
                        <li><a href="#" class="doNothing"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="currentColor" d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" /></svg></a></li>
                        <!-- bell icon -->
                        <li><a href="#" class="doNothing"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="currentColor" d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" /></svg></a></li>
                        <li><span>Channels</span></li>
                        <li>
                            <select>
                                <option>20 Plug&Log Production Unit</option>
                            </select>
                        </li>

                        <li class="dropdown p-rel">
                            <a class="profile-dropdown" id="profile-dropdown-btn">
                                <span>Example user</span>
                                <!-- user icon -->
                                <span><svg style="width:21px;height:21px" viewBox="0 0 21 21"><path fill="#00ff00" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg></span>
                            </a>

                            <div id="nav-profile-dropdown">
                                <ul id="nav-profile-list">
                                    <li><a href="#" class="doNothing">My profile</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a href="#" class="doNothing">Sign out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Mobile nav -->
            <div class="mobile-nav-container">
                <a href="index.html" class="nav-logo">
                    <img src="assets/images/trendlog-logo.png" alt="Trendlog.io logo" class="header-logo"/>
                </a>
                <nav class="mobile-nav">
                    <div class="burger-menu">
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </div>

                    <ul class="nav-list">
                        <!-- house icon -->
                        <li class="mobile-nav-item"><a class="mobile-navlink" ng-href="/#home"><svg style="width:20px;height:20px" viewBox="0 0 24 24"><path fill="currentColor" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg></a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Trendboards</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Reports</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Views</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Feeds</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Settings</a></li>
                        <li class="mobile-nav-item"><a ng-href="#" class="doNothing mobile-navlink">Shares</a></li>

                        <!-- wrench icon -->
                        <li class="mobile-nav-item"><a href="#" class="doNothing mobile-navlink"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="white" d="M.39,19.3l2.3,2.3a1,1,0,0,0,1.4,0l9.1-9.1a6.42,6.42,0,0,0,6.9-1.5,6.44,6.44,0,0,0,1.3-7.4L17,7.9l-3-3L18.29.6a6.61,6.61,0,0,0-7.4,1.3,6.42,6.42,0,0,0-1.5,6.9L.29,17.9A.9.9,0,0,0,.39,19.3Z"/></svg></a></li>
                        <!-- stop follow icon -->
                        <li class="mobile-nav-item"><a href="#" class="doNothing mobile-navlink"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="currentColor" d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" /></svg></a></li>
                        <!-- bell icon -->
                        <li class="mobile-nav-item"><a href="#" class="doNothing mobile-navlink"><svg style="width:17px;height:17px" viewBox="0 0 24 24"><path fill="currentColor" d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" /></svg></a></li>
                        <li class="mobile-nav-item"><span>Channels</span></li>
                        <li class="mobile-nav-item">
                            <select>
                                <option>20 Plug&Log Production Unit</option>
                            </select>
                        </li>

                        <li class="dropdown p-rel mobile-nav-item">
                            <a class="profile-dropdown" id="profile-dropdown-btn">
                                <span>Example user</span>
                                <!-- user icon -->
                                <span><svg style="width:21px;height:21px" viewBox="0 0 21 21"><path fill="#00ff00" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg></span>
                            </a>

                            <div id="nav-profile-dropdown">
                                <ul id="nav-profile-list">
                                    <li><a href="#" class="doNothing">My profile</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a href="#" class="doNothing">Sign out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main ng-controller="mainCtrl">
            <div class="global-wrapper">
                <!-- side bar -->
                <aside>
                    <ul>
                        <li>
                            <a href="#" class="doNothing"><svg style="width:14px;height:14px;margin-bottom:-2px;margin-right:3px;" viewBox="0 0 24 24"><path fill="white" d="M.39,19.3l2.3,2.3a1,1,0,0,0,1.4,0l9.1-9.1a6.42,6.42,0,0,0,6.9-1.5,6.44,6.44,0,0,0,1.3-7.4L17,7.9l-3-3L18.29.6a6.61,6.61,0,0,0-7.4,1.3,6.42,6.42,0,0,0-1.5,6.9L.29,17.9A.9.9,0,0,0,.39,19.3Z"/></svg> Maintenance</a>
                        </li>
                    </ul>
                </aside>

                <div class="module">
                    <div class="module-tabs" ng-init="tab = 1">
                        <a href ng-click="tab = 1" ng-class="{activeTab:tab === 1}">Resources</a>
                        <a href ng-click="tab = 2" ng-class="{activeTab:tab === 2}">History</a>
                        <a href ng-click="tab = 3" ng-class="{activeTab:tab === 3}">Settings</a>
                        <!--<a href ng-show="tab > 1" ng-click="tab = 2" ng-class="{activeTab:tab === 2}">History</a>
                        <a href ng-show="tab > 1" ng-click="tab = 3" ng-class="{activeTab:tab === 3}">Settings</a>-->
                    </div>

                    <!-- Tab 1 (Resources) -->
                    <div class="tab-1" ng-show="tab === 1">
                        <!-- Resource top menu -->
                        <div class="resourceTopMenu">
                            <div class="searchBar row">
                                <label for="search">Search</label>
                                <input type="text" ng-model="search" id="search"/>
                            </div>

                            <div class="row flex flex-b">
                                <div class="flex align">
                                    <span>Filter</span>
                                    <img src="assets/icons/filter-icon.svg" alt="Filter search"/>
                                </div>

                                <div class="flex align">
                                    <span>Add new</span>
                                    <img src="assets/icons/add-icon.svg" alt="Add new resource"/>
                                </div>
                            </div>
                        </div>
                        <!-- Resource list -->

                        <!-- Desktop resource list -->
                        <div id="desktop-resource-container">
                            <table class="desktopResources">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Group</th>
                                    <th>Enabled</th>
                                    <th>Last service</th>
                                    <th>Next service</th>
                                </tr>
                            </table>
                        </div>

                        <!-- Tablet resource list -->

                        <!-- Mobile resource list -->
                        <div id="mobile-resource-container">
                            <div class="mobile-resource">
                                <div class="mobile-resource-content mobile-resource-header">
                                    <span>ID: <span class="strong">12</span></span>
                                    <span class="strong">Rødbederenser</span>
                                    <span><div class="enabled" style="height:16px;width:16px;background:green;border-radius:50%;"></div></span>
                                </div>

                                <div class="mobile-resource-content mobile-resource-body">
                                    <div class="mobile-next-service">
                                        <span>Next service:</span>
                                        <div class="loading">
                                            <div class="loading-text strong">23-03-2021</div>
                                            <div class="loading-bar"></div>
                                        </div>
                                    </div>

                                    <div class="mobile-last-service">
                                        <p>Last service:</p>
                                        <p class="strong">09-11-2001</p>
                                    </div>
                                </div>

                                <div class="mobile-resource-content mobile-resource-footer">
                                    <span>Group: <span class="strong">Machine</span></span>
                                    <span>Type: <span class="strong">Hoebag</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <footer></footer>
    </body>
</html>
