<div class="global-wrapper">
    <!-- side bar -->
    <aside>
        <ul>
            <li>
                <a href="#" class="doNothing"><svg style="width:14px;height:14px;margin-bottom:-2px;margin-right:3px;" viewBox="0 0 24 24"><path fill="white" d="M.39,19.3l2.3,2.3a1,1,0,0,0,1.4,0l9.1-9.1a6.42,6.42,0,0,0,6.9-1.5,6.44,6.44,0,0,0,1.3-7.4L17,7.9l-3-3L18.29.6a6.61,6.61,0,0,0-7.4,1.3,6.42,6.42,0,0,0-1.5,6.9L.29,17.9A.9.9,0,0,0,.39,19.3Z"/></svg> Maintenance</a>
            </li>
        </ul>
    </aside>

    <div class="module">
        <div class="module-tabs" ng-init="tab = 1">
            <a href ng-click="tab = 1" ng-class="{activeTab:tab === 1}">Resources</a>
            <a href ng-click="tab = 2" ng-class="{activeTab:tab === 2}">History</a>
            <a href ng-click="tab = 3" ng-class="{activeTab:tab === 3}">Settings</a>
            <!--<a href ng-show="tab > 1" ng-click="tab = 2" ng-class="{activeTab:tab === 2}">History</a>
            <a href ng-show="tab > 1" ng-click="tab = 3" ng-class="{activeTab:tab === 3}">Settings</a>-->
        </div>

        <!-- Tab 1 -->
        <div class="tab-1" ng-show="tab === 1">
            <!-- Resource filter menu -->
            <div class="resourceFilterMenu">
                <div class="searchBar row">
                    <label for="search">Search</label>
                    <input type="text" ng-model="search" id="search"/>
                </div>
                
                <div class="row flex flex-b">
                    <div class="flex align">
                        <span>Filter</span>
                        <img src="assets/icons/filter-icon.svg" alt="Filter search"/>
                    </div>
                    
                    <div class="flex align">
                        <span>Add new</span>
                        <img src="assets/icons/add-icon.svg" alt="Add new resource"/>
                    </div>
                </div>
            </div>
            <!-- Resource list -->
            
            <!-- Desktop resource list -->
            <table id="desktopResources">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Group</th>
                    <th>Enabled</th>
                    <th>Last service</th>
                    <th>Next service</th>
                </tr>
            </table>
            
            <!-- Tablet resource list -->
            
            <!-- Mobile resource list -->
            <div id="mobile-resource-container">
                <div class="mobile-resource">
                    <div class="mobile-resource-content mobile-resource-header">
                        <span>ID: 12</span>
                        <span>Rødbederenser</span>
                        <span>Enabled</span>
                    </div>
                    
                    <div class="mobile-resource-content mobile-resource-body">
                        <div class="mobile-next-service">
                            <span>Next service:</span>
                            <div class="loading">23-03-2021</div>
                        </div>
                        
                        <div class="mobile-last-service">
                            <span>09-11-2001</span>
                        </div>
                    </div>
                    
                    <div class="mobile-resource-content mobile-resource-footer">
                        <span>Group: Machine</span>
                        <span>Type: Hoebag</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>