@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
*{
    box-sizing: border-box;
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
html, body{
    margin:0;
    padding:0;
    line-height:1.5em;
    color:#3b3b3b;
    font-family: 'Titillium Web', sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    min-height:100vh;
}::selection{
    background-color:#00c52c;
    color:white;
}
.global-wrapper{
    position:relative;
    width:100%;
    display:flex;
    padding-top:50px;
}
p, span{
    font-size:16px;
    line-height:1.6em;
}
.bold{
    font-weight:700;
}
a{
    color:#00c52c;
    text-decoration:none;
    font-size:16px;
    line-height:1.6em;
    font-weight:600;
}
.container{
    width:1140px;
    margin:0 auto;
    padding:12px 0;
}
.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
section{
    width:100%;
}
.row{
    display:block;
    width:100%;
    padding:0 20px;
}
h1{
    font-size:46px;
}
h2{
    font-size: 39px;
}
h3{
    font-size:30px;
}
h4{
    font-size:20px;
}

button{
    font-family: 'Titillium Web', sans-serif;
}

.w33{
    width:33.333%;
}
.w40{
    width:40%;
}
.w50{
    width:50%;
}
.w60{
    width:60%;
}
.strong{
    font-weight:700;
}
.block{
    display:block !important;
}
.vertical-a-off{
    align-items:flex-start !important;
}
.block{
    display: block !important;
}
.flex{
    display:flex !important;
    align-items:center;
}
.flex-a{
    justify-content: space-around;
}
.flex-b{
    justify-content: space-between;
}
.flex-c{
    justify-content: center;
}
.align{
    align-items: center;
}
.p-rel{
    position:relative;
}
.mr{
    margin-right:8px;
}
.mt{
    margin-top:16px;
}
.mx-auto{
    margin:0 auto;
}
.green-btn{
    background-color:#01CC01;
    color:white;
    height:30px;
    width:30px;
    margin:0 0 0 13px;
    padding:4px;
    border-radius:4px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.green-btn img{
    height:18px;
}
.green-btn span{
    font-size:33px;
    margin-top: -7px;
}
.green-btn-hacks img{
    height: 21px !important;
    margin-left: 2px !important;
    margin-bottom: 2px !important;
}
/* STYLEGUIDE */
.styleGuideHeader{
    font-size:28px;
    color:#00c52c;
    border-bottom:2px solid #00c52c;
    margin:20px 0 12px 0;
    padding:0 0 4px 0;
}
.styleGuideElement{
    font-size:28px;
    /*border-bottom:2px solid #A0A0A0;*/
    margin:0 0 12px 0;
    padding:0 0 4px 0;
}
.code{
    margin:12px 0 12px 12px;
    padding:12px;
    border-left:3px solid #00c52c;
    background-color:#ececec;
}
code span{
    display:block;
    margin:4px 0;
}
/* /STYLEGUIDE */
.btn{
    display: inline-block;
    font-family: 'Titillium Web',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin: 4px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,letter-spacing .15s ease-in-out;
}
.btn:hover{
    cursor:pointer;
}
.btn-animate:hover{
    letter-spacing:4px !important;
}
.btn:active, .btn:focus{
    outline:none;
}

.btn-trendlog{
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: #6eba01;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'Titillium Web',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: #6eba01;
}
.btn-trendlog:hover{
    color: #6eba01!important;
    background-image: initial!important;
    background-color: rgba(255,255,255,0)!important;
}

.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

form{
    margin:12px 0;
}
form h1{
    font-size:22px;
    margin-left:6px;
}
input:active, form input:focus, form textarea:focus{
    outline:none;
}
textarea{
    resize:vertical;
    min-height:100px;
}
input[type=text], input[type=number], form input[type=email], form input[type=password], form textarea{
    display: block;
    width: 100%;
    margin: 4px 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Titillium Web', sans-serif;
}
input[type="text"]:disabled {
    background: #F0F0F0;
}
input[type=submit]{
    float:right;
}
textarea{
    width:100%;
    margin: 4px 0;
    display: block;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-family: 'Titillium Web', sans-serif;
}
/* hide arrows from input type=number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.file-upload input[type=file]{
    display:none;
}
.file-upload span.btn{
    padding: .2rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.file-upload:hover{
    cursor:pointer;
}
.file-upload-attach input[type=file]{
    display:none;
}
.file-upload-attach span.btn{
    padding: .2rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.file-upload-attach:hover{
    cursor:pointer;
}

select{
    margin:4px 0;
    width: auto;
    display:block;
    vertical-align: middle;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}
form input[type=submit]::after{
    clear:both;
}
form input[type=submit]:hover{
    cursor:pointer;
}

/*** HEADER ***/
header{
    z-index:100;
    position:fixed;
    width:100%;
    border-bottom:1px solid #080808;
}

#desktop-nav{
    font-weight:bold;
    width:100%;
    margin:0;
    padding:0px 15px;
    background-color:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:50px;
    user-select:none;
}

.mobile-nav-container{
    display:none;
}

.navlinks{
    display:flex;
    align-items:center;
    list-style-type:none;
    margin:0;
    padding:0;
}

nav span{
    font-weight:400;
    color:#9d9d9d;
    margin-right:5px;
    margin-left:15px;
    font-size:13.333px;
}

img.header-logo{
    width:130px;
    padding:6px 15px 0px 0px;
    box-sizing:content-box;
}

.navlinks a{
    padding:15px;
    font-size:14px;
    color:white;
}
.navlinks a:hover{
    background-color:#444 !important;
}

#nav-profile-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index:2;
}
#nav-profile-dropdown ul{
    list-style-type:none;
    padding:0;
}
#nav-profile-dropdown ul li{
    width:100%;
}
#nav-profile-dropdown ul li a{
    font-weight:400;
    display:block;
    padding:3px 20px;
}
.dropdown-divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.navlinks input, .navlinks select{
    margin:0px 15px;
}

.navlinks .profile-dropdown span{
    font-size:14px;
    color:white;
    font-weight:bold;
    margin:0;
}
.navlinks .profile-dropdown svg{
    margin-left:10px;
}
.navlinks .profile-dropdown:hover{
    cursor:pointer;
    background-color:#444 !important;
}

.navlinks svg{
    margin-bottom:-4px;
}

/*** HOME ***/
main{
    width:100%;
    min-height:100vh;
}

.module{
    width:calc(100% - 200px);
}

/*** SIDE BAR ***/
aside{
    font-weight:400;
    width:200px;
    min-height:100vh;
    background-color:lightgrey;
}

aside ul{
    margin:0;
    padding:0;
}
aside ul li{
    list-style-type:none;
    background-color:#222;
    width:100%;
    height:40px;
}
aside ul li a{
    font-weight:500;
    font-size:13.333px;
    color:white;
    display: block;
    padding: 10px 15px;
}
aside ul li:hover{
    background-color:#444 !important;
}

/* Tabs (Resources, history & settings) */
.module-tabs{
    display:block;
    margin:5px auto 0 24px;
    padding:17px 8px 4px 8px;
    border-bottom:1px solid #eee;
}

.module-tabs a{
    font-weight:400;
    font-size:15px;
    border:1px solid transparent;
    margin: 4px 10px 0px -8px;
    padding:10px 15px;
    padding-bottom:6px;
    border-radius:5px 5px 0px 0px;
}

.activeTab{
    color:black;
    background-color:white;
    border:1px solid #eee !important;
    border-bottom:0 !important;
}

/* Resource filter menu */
.mobile-resource-top-menu{
    display:none;
}


.mobile-resource-top-menu select{
    height:30px;
    margin-left: 6px;
}

.searchBar{
    margin:12px 0;
    text-align:center;
    width:100%;
    display:table;
}

.searchBar label{
    display:table-cell;
    width:1px;
}

.searchBar input{
    display:table-cell;
    width:97.5%;
    height: 26px;
    padding: 6px 12px;
    margin:0 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

/* Resource list */
#desktop-resource-container, #desktop-resource-container table{
    width:100%;
}
#mobile-resource-container{
    display:none;
}

/* Resource history */
#mobile-history-container{
    display:none;
}

/* Resource settings */
#mobile-settings-container{
    display:none;
}

/**------------------------------------------------------------ Mobile --------------------------------------------------------------------**/

/* Mobile filter menu */
/* Filter menu */
.filter-menu-overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    background-color:rgba(34, 34, 34, .6);
    z-index:99;
}

.filter-menu{
    padding:50px 0;
    width:70%;
    height:100vh;
    background-color:#fff;
    position:relative;
    animation: 250ms ease-in-out slideInFromLeft;
}

#closeFilterMenu{
    position:absolute;
    top: 62px;
    right: 21px;
    font-weight:bold;
    font-size:1.3em;
}

#closeFilterMenu img{
    width: 15px;
    height: 15px;
}

#filter-table{
    border-collapse: collapse;
    margin-left:15px;
    margin-right:15px;
}

.filter-menu-header{
    background-color:#222;
    color:white;
    height:40px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.filter-menu-header h2{
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 600;
}

#filter-table tr td{
    box-sizing: border-box;
    padding:8px 4px 4px 0;
}

#filter-table tr:first-child td:nth-child(2){
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#filter-table tr:first-child td:nth-child(2) img{
    height:26px;
    width:26px;
}

#filter-table tr td:nth-child(2){
    width:100%;
}

#filter-table tr:first-child td select{
    width:auto;
}
#filter-table tr td select{
    width:100%;
}

.filter-menu div:first-child{
    margin-right:24px;
}

.filter-menu p, .filter-menu span, .filter-menu label{
    font-size:14px;
}

.filter-menu select{
    height:30px;
}

/* Filter menu slide animation */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}

/* Add new menu slide animation */
@keyframes slideInFromRight {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

.add-new-menu-overlay{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(34, 34, 34, .5);
    top: 0;
    z-index: 99;
}

.add-new-menu{
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background-color: #fff;
}

.wrapper{
    position: relative;
    left: 30.5%;
    width: 70%;
    animation: 250ms ease-in-out slideInFromRight;
}

.add-new-close-btn{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 17px;
    top: 63px;
}

.heading-container{
    width: 100%;
    height: 40px;
    background-color: #222;
    justify-content: center;
}

.heading-container h2{
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 600;
}

.add-new-main{
    width: 100%;
    padding: 15px;
}

.add-new-main .flex-b{
    display: flex;
}

.add-new-main h3{
    font-size: 25px;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    color: #222;
    font-weight: 600;
}

.add-new-main p{
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #222;
}

.add-new-main .flex-b p{
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #b3b3b3;
}

.add-new-content{
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #222;
}

.add-new-buttons a:nth-child(1){
    color: #dc3545;
}

.add-new-buttons a:nth-child(2){
    color: #222;
}

.add-new-buttons a:nth-child(3){
    color: #007bff;
}

.add-new-button{
    padding: 10px;
}

.add-new-service-select{
    text-align:center;
    display: flex;
    margin-top: 4px;
    margin-bottom: 15px;
}

.add-new-service-select button{
    background-color: #fff;
    outline:none;
    box-shadow: none;
    width:50%;
    padding:6px 0;
    border:1px solid #d3d3d3;
}

.add-new-service-select button:first-child{
    border-radius:5px 0 0 5px;
}

.add-new-service-select button:last-child{
    border-radius: 0 5px 5px 0;
}

.add-new-lr{
  width: 47%;
}

.henning{
  margin-bottom: 9px;
}

.on{
    background-color: #007bff !important;
    color: #fff;
}

#step-1-group{
  width: 82%;
}

#step-2b-iu{
    width: 100%;
}

#step-2c-src{
  border-radius: .25rem 0 0 .25rem;
  width: 85%;
}

#step-2c-tr{
  margin: 4px 0 15px 0;
  width: 100%;
}

.cog-box{
  margin: 4px 0 15px 0;
  border: solid 1px #d3d3d3;
  height: 33.5px;
  width: 15%;
  border-radius: 0 .25rem .25rem 0;
  justify-content: center;
  border-left: none;
}

.cog-box img{
 height: 20px;
 width: 20px;
}

.add-new-menu-overlay .green-btn{
    height: 34px;
    width: 34px;
    margin-left: 0px;
}

.add-new-menu-overlay input{
    margin-bottom: 15px;
}

.select-w-btn{
    margin-bottom: 10px;
}

/* Mobilshit */
@media only screen and (max-width: 768px) {
    /* Header & Navigation */
    #desktop-nav{
        display:none;
    }

    .mobile-nav-container{
        background-color:#222;
        height:50px;
        display:flex;
        align-items: center;
    }

    .mobile-nav-container .nav-logo{
        margin-left:10px;
    }

    .mobile-nav {
        width: 100%;
        background-color: black;
        position: fixed;
        /*top: -327px;*/
        top:51px;
        max-height:0;
        overflow:hidden;
        display: block;
        transition: max-height 0.5s ease-in-out;
    }

    .change {
        /*top: 0;*/
        height:auto;
        max-height:100%;
        overflow:auto;
    }

    .burger-menu {
        border:1px solid #333;
        border-radius:4px;
        box-sizing: content-box;
        padding:4px 7px;
        width:26px;
        height:24px;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 0.25s;
    }

    .change .line-1 {
        transform: rotateZ(-45deg) translate(-5px, 5px);
    }

    .change .line-2 {
        opacity: 0;
    }

    .change .line-3 {
        transform: rotateZ(45deg) translate(-7px, -6px);
    }

    .nav-list {
        text-align: left;
        margin: 0 8px;
        padding:0;
    }

    .mobile-nav-item {
        list-style: none;
        padding: 7px 20px 0 20px;
        justify-content: center;
    }

    .mobile-navlink {
        text-decoration: none;
        font-size: 18px;
        color: white;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        display:block;
        padding: 3px 0;
    }

    .mobile-nav-item span{
        margin:0;
    }

    /* Home page (resources) */
    .global-wrapper{
        display:block;
    }

    aside {
        min-height:39px;
        height:39px;
        width:100%;
        margin:0px;
    }

    .module{
        width:100%;
    }

    /* Top menu */

    /* Resource filter menu */
    .module-tabs{
        margin:5px;
    }

    .module-tabs a{
        margin: 4px 10px 0px 0px;
    }

    .mobile-resource-top-menu{
        display:block;
    }

    /* Resource list */
    #desktop-resource-container{
        display:none;
    }

    #mobile-resource-container{
        display:block;
        background-color:#222;
        margin:12px auto 0 auto;
        padding-top: 4px;
    }

    .mobile-resource{
        background-color:white;
        padding:6px;
        margin-bottom: 4px;
    }

    .mobile-resource-header span:nth-child(2){
        font-size:16px;
        font-weight:900;
    }

    .enabled{
        height:16px;
        width:16px;
        background:#01CC01;
        border-radius:50%;
    }

    .mobile-resource p, .mobile-resource span{
        font-size:14px;
    }

    .mobile-resource-content{
        display:flex;
        align-items:center;
        justify-content: space-between;
        padding:4px 8px;
        margin:0 6px;
    }

    .mobile-resource-content:first-child{
        border-bottom:1px solid black;
        padding-bottom:6px;
    }

    .mobile-resource-content:nth-child(2){
        border-bottom:1px solid #d3d3d3;
        padding-top:12px;
        padding-bottom:18px;
    }

    .mobile-resource-content:nth-child(3){
        padding-top:8px;
    }

    .mobile-next-service{
        width:70%;
    }

    .mobile-last-service p{
        padding:0;
        margin:0;
    }

    .mobile-last-service p:last-of-type{
        margin-top:4px;
    }

    .loading{
        width:100%;
        border:1px solid #d3d3d3;
        border-radius:5px;
        display:flex;
        justify-content: center;
        position:relative;
        z-index:1;
    }

    .loading-text{
        padding:2px 0;
        z-index:2;
    }

    .loading-bar{
        width:40%;
        height:99%;
        z-index:1;
        position:absolute;
        top:0;
        left:0;
        background-color:#01CC01;
        border-radius:5px 0px 0px 5px;
    }

    .mobile-resource-dropdown{
        display: block;
        background-color: #ffffff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 500ms ease-in-out;
    }

    .expand-resource{
        max-height: 300px !important;
    }

    .tab-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab-links-box{
        display: flex;
        justify-content: center;
        margin: 10px auto;
        width: 100px;

    }

    .tab-link{
        margin: 15px auto;
    }

    .tab-link a{
        font-size: 15px;
    }

    .vertical-seperator{
        width: 1px;
        background-color: #d3d3d3;
        height: 35px;

    }

    .center-links{
        text-align: center;
    }

    .center-link{
        margin: 12px 0px;
    }

    .center-link a{
        font-size: 15px;
        color: #222;
    }

    .horizontal-seperator{
        margin: 0 auto;
        width: 90%;
        height: 1px;
        background-color: #d3d3d3;
    }

    .bottom-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-link{
        padding: 10px;
    }

    .bottom-link a{
        font-size: 15px;
    }

    .bottom-links .vertical-seperator{
        height: 25px;
    }

    .logo-text-box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
        width: 100px;
    }

    .bottom-links .logo-text-box:first-child .bottom-link a{
        color: #dc3545;
    }

    .bottom-links .logo-text-box:last-child .bottom-link a{
        color: #007bff;
    }

    .bottom-links img{
        height: 20px;
    }

    /* Mobile calendar view */
    .tab-1{
        position:relative;
    }

    #mobile-calendar-view{
        height: 100vh;
        width: 100%;
        top: 90px;
        left: 0;
        position: fixed;
        background-color: #222;
        border-top: 1px solid #707070;
        z-index:20;
    }

    .mobile-calendar-head{
        padding:8px 15px;
        display:flex;
        justify-content: space-between;
        align-items:center;
    }

    .mobile-calendar-head img{
        height:24px;
        width:24px;
    }

    .mobile-calendar-header{
        padding:0px 15px;
        display:flex;
        justify-content: space-between;
        align-items:center;
        border-top:1px solid #707070;
        color:#fff;
    }

    .mobile-calendar-header div{
        text-align:center;
    }

    .mobile-calendar-header h1, .mobile-calendar-header h2{
        margin:8px 0;
        padding:6px 0;
        font-weight:400;
    }

    .mobile-calendar-header h1{
        font-size:2.5em;
    }

    .mobile-calendar-header h2{
        font-size:1.5em;
    }

    .prevMonth, .nextMonth{
        font-size:3em;
    }

    .mobile-calendar-table{
        width:100%;
        text-align:center;
        border-collapse: collapse;
    }

    .mobile-calendar-table tr:first-child{
        border-top:1px solid #707070;
        border-bottom:1px solid #707070;
        color:#707070;
        font-size:1em;
    }

    .mobile-calendar-table tr{
        color:white;
        font-size:1.2em;

        margin:0 15px;
    }

    .mobile-calendar-table tr td{
        padding:16px;
        border-bottom:2px solid #707070;
    }

    .calendar-expired{
        position:relative;
    }

    .calendar-expired::after{
        content: "•";
        color: red;
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 0;
        right: 0;
    }




    /* Mobile history */
    #mobile-history-container{
        display:block;
    }

    #mobile-history-container h1{
        font-size:2em;
        padding:0 20px;
    }

    .mobile-history-table-container{
        padding:20px 0;
    }

    .mobile-history-table{
        width:100%;
        border-collapse: collapse;
    }

    .mobile-history-table tr th{
        padding:6px;
        background-color:#222;
        color:white;
    }

    .mobile-history-table tr td{
        text-align:center;
        padding:12px 0;
    }

    .mobile-history-table tr{
        border-bottom:2px solid black;
    }

    .mobile-history-table tr:last-child{
        border-bottom:0;
    }

    .repair{
        background-color:#8BC88B;
    }


    /* Mobile resource settings */
    #mobile-settings-container{
        display:block;
        padding:0 20px;
        margin-top: -10px;
    }

    .mobile-settings-head-row{
        display:flex;
        align-items:baseline;
        justify-content: space-between;
        width:100%;
        border-bottom:2px solid #222;
    }

    .mobile-settings-head-row h3{
        font-size:25px;
        color:#222;
        font-weight:600;
        margin-bottom:0;
    }

    .mobile-settings-head-row span{
        color: #D3D3D3;
    }

    .mobile-settings-row{
        margin:15px 0;
    }

    .mobile-settings-row p{
        font-size: 14px;
        margin:0;
        padding:0;
        -webkit-font-smoothing: antialiased;
    }

    .mobile-settings-row select{
        width:100%;
    }

    .mobile-settings-type-select{
        text-align:center;
    }

    .mobile-settings-type-select button{
        background-color: #fff;
        outline:none;
        box-shadow: none;
        width:50%;
        padding:6px 0;
        border:1px solid #D3D3D3;
    }

    .mobile-settings-type-select button:first-child{
        border-right:none;
        border-radius:5px 0 0 5px;
    }

    .mobile-settings-type-select button:last-child{
        border-left:none;
        border-radius: 0 5px 5px 0;
    }

    .activeType{
        background-color:#007BFF !important;
        border: 1px solid #007BFF !important;
        color:white;
    }

    .settings-source-input{
        display:flex;
    }

    .settings-source-input input{
        width:85%;
        border-radius:4px 0px 0px 4px;
    }

    .settings-source-input div{
        width:15%;
        height:33.5px;
        margin:4px 0;
        background-color:#fff;
        border-radius:0px 4px 4px 0px;
        border-top:1px solid #ced4da;
        border-right:1px solid #ced4da;
        border-bottom:1px solid #ced4da;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .settings-source-input div img{
        height:21px;
    }

    .mobile-settings-todolist{
        width:100%;
        background-color:#F0F0F0;
        min-height:50px;
        border-radius:4px;
        border: 1px solid #ced4da;
        padding:8px;
    }

    .todoItem{
        display:block;
        background-color:#fff;
        padding:6px;
        margin:4px 0;
        border-radius:5px;
    }

    .addTodo button{
        font-size:14px !important;
        margin-left:0 !important;
    }

    .addTodo button{
        background-color: #01CC01;
        color: white;
        height: 33.5px;
        width: 39px;
        margin: 5px;
        padding: 4px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        outline: 0;
        font-size:33px;
    }

    .add-attach{
        border:1px solid transparent;
        width:auto;
        font-size:.8em;
        border-radius:4px;
        padding:4px 9px 4px 4px;
        margin-top: 3px;
        background-color:#01CC01;
        display: inline-flex;
        color:white;
    }

    #apply-settings{
        background-color:#007BFF;
        display:block;
        margin:25px auto;
        color:white;
        border:1px solid #007BFF;
        border-radius:4px;
        padding:8px 12px;
        font-weight: 600;
        font-size: 15px;
    }



}

/* *** DATEPICKER *** */
.ui-datepicker {
    width: 17em;
    padding: .5em .5em 0;
    display: none;
    background-color:#222;
    border-radius:4px;
}
.ui-datepicker a{
    color:#fff;
}
/* * * CALENDAR HEADER * * */
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    margin-bottom:.7em;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-prev::after {
    content:"❮";
    margin: 0px 15px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-next::after {
    content:"❯";
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    color:white;
}
.ui-datepicker .ui-datepicker-title span{
    font-size:1.2em;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;

}
/* * * TABLE HEAD * * */
.ui-datepicker th {
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: center;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
}


/* DELETE MODAL */
.pmodal {
  margin: 10px 0;
}

.h2modal {
  margin: 10px 0;
  font-size: 20px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  top:30vh;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 18px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* faldned animationish */
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:30vh; opacity:1}
}


.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #222222;
  color: white;
  border-radius:15px 15px 0px 0px ;
}

.modal-body {
  text-align: center;
  margin: 2px 16px;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2px 16px;
  color: #000000;
  border-radius: 0px 0px 15px 15px;
  align-items: center;
}

/*POPUP MODAL HEJSERI*/
/* cancelknap */
.close {
  color: #6C757D;
  font-size: 17px;
  font-weight: 700;
}

#streg {
  height: 30px;
  width: 1px;
  border-left: 2px solid #d3d3d3;
}

#redp {
  color: #DC3545;
  font-size: 17px;
  font-weight: 700;
}
#bluep {
  color: #007bff;
  font-size: 17px;
  font-weight: 700;
}

@media screen and (orientation:portrait) {

}
@media screen and (orientation:landscape) {
  .modal {
      padding-top: 100px;
  }
  .modal-content {
      width: 50%;
  }
}
